nav
	ul.navul
		li.navli
			a(href='/') Start Page
		li.navli
			a(href='AllUsers') Part 0 - all users
		li.navli
			a(href='SearchByName') Part 1 - search by first- or lastname
		li.navli
			a(href='AddUser') Part 2 - create new user


style.
	ul.navul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFE5B4;
	}

	li.navli{
	float: left;
	}

	li.navli a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1px solid black;
	}

	/* Change the link color to #111 (black) on hover */
	li.navli a:hover {
	background-color: #ffad60;
	}