html
	head
		title All Users
	body
		include nav.pug

		h1 Matches found

		ul

			each item in resultMatch
				li= item.firstname + " | " + item.lastname + " | " + item.email
		

	script.
		console.log(resultMatch)