html
	head
		title All Users
	body
		include nav.pug

		h1 Matches found

		

		p.bold Firstname: 
		p #{FirstName}
		br
		p.bold Lastname: 
		p #{LastName}
		br
		p.bold Email: 
		p #{Email}

style.
	p.bold{
	font-weight: bold;
	}
	p{
	margin: 0;
	}
