html
	head
		title All Users
	body
		include nav.pug

		h1 Part 1: Search by First- or Lastname 

		form(method="POST", action="/searchbar")
			input(type="text" name="firstname" placeholder="Firstname")
			input(type="text" name="lastname" placeholder="Lastname")
			input(type="submit" value="submit")

